
 <style>
    .cardInner {
      display: grid;
      grid-template-areas: "header header" "side content" "footer footer";
      grid-template-rows: auto auto auto;
      grid-row-gap: 16px;
      grid-column-gap: 16px;
    }
  </style>
  <div class="cardInner" [ngStyle]="{'background-image': getUrl()}"style="padding: 90px" width="700px" height="300px" >
    <div [style.grid-area]="'header'">
        <header style="padding: 15px"><h3 style="font-size: 60px; color: rgb(192, 120, 25); font-style:oblique;">Welcome To Angels' Pie Donation Page</h3></header>
    </div>
    <div [style.grid-area]="'side'">
        <img src="https://www.washingtonpost.com/rf/image_982w/2010-2019/WashingtonPost/2011/10/10/Food/Images/food011_1318282380.jpg" style="padding: 10px" width="800px" height="400px" >
    </div>
    <div [style.grid-area]="'content'" >
        <h3 style="padding: 10px" style="font-style: italic; font-size: 25px; line-height: 1.5; color: rgb(211, 43, 127);">We are the Angles' Bakery located at 1000 N. 4th St., Fairfield, IA, 52557, 
            we serve large varieties of bakery such as doghnuts, pies, muffins and much more. 
            Experience the best of baking with us. Our pies are baked, especially for you. 
            All our products have mouthwatering taste, and we offer exceptional service.
            you will enjoy a great taste in every bite.
            We bake our pies right and we are positive that you will fall in love with them. 
            We are happy an all we do and are pleased to contibute something to our society.</h3>
        
    </div>
    <div [style.grid-area]="'footer'"><h3 style="padding: 20px; font-style: italic; font-size: 30px; line-height: 1.5; color: rgb(211, 43, 127);">
        Please let us know what you think by going to the contact us section above with some information, That will help us alot!
    </h3>
     </div>
  </div>


