<!-- <mat-card-header>
    we are the angels bakery
</mat-card-header> -->
<!-- <p style="padding: 2px" >We are the Angle's Bakery located at 1000 N. 4th St., Fairfield, IA, 52557, we serve large varieties of bakery such as doghnuts, pies, muffins etc. 
    Experience the best of baking with us. Our pies are baked, especially for you. All our products have mouthwatering taste, and we offer exceptional service.
    you will enjoy a great taste in every bite. </p>
<p style="padding: 2px">As part of giving back to our community, we are dedicated in donating baked pies accross the US with free shipping. Yes! we offer a free shipping as part
    of our donation of pies to our society. You can browse on our list of pies under the home button up and you can directly order one by putting your shipping information
    and you are good to go.</p>
 

    <p style="padding: 2px">We bake our pies right and we are positive that you will fall in love with them. We are happy an all we do and are pleased to contibute something to our society.
Please let us know what you think by going to the contact us section above.</p> -->

<!-- <img src="https://www.washingtonpost.com/rf/image_982w/2010-2019/WashingtonPost/2011/10/10/Food/Images/food011_1318282380.jpg" class="md-card-image" alt="user avatar" style="padding: 10px" width="1500px" >
"http://placehold.it/150x150" -->
<!-- <mat-grid-tile-header >Welcome To Angel's Bakery</mat-grid-tile-header>
<mat-grid-list cols="2">
    <mat-grid-tile>
        <img src="https://www.washingtonpost.com/rf/image_982w/2010-2019/WashingtonPost/2011/10/10/Food/Images/food011_1318282380.jpg" class="md-card-image" alt="user avatar" style="padding: 10px" width="500px" >
    </mat-grid-tile>
    <mat-grid-tile>We are the Angle's Bakery located at 1000 N. 4th St., Fairfield, IA, 52557, 
        we serve large varieties of bakery such as doghnuts, pies, muffins etc. 
        Experience the best of baking with us. Our pies are baked, especially for you. 
        All our products have mouthwatering taste, and we offer exceptional service.
        you will enjoy a great taste in every bite.
        We bake our pies right and we are positive that you will fall in love with them. 
        We are happy an all we do and are pleased to contibute something to our society.
        Please let us know what you think by going to the contact us section above.</mat-grid-tile>
        
    <mat-grid-tile>C</mat-grid-tile>
    <mat-grid-tile>D</mat-grid-tile>  -->
  <!-- </mat-grid-list>   -->

  <!-- <mat-grid-list cols = "3" rowHeight = "3:1" >
    <mat-grid-tile
    [colspan] = "3" 
    [rowspan] = "1"><h3>Welcome To Angel's Bakery</h3>
    </mat-grid-tile>
    <mat-grid-tile 
    [colspan] = "1"
    [rowspan] = "2"><img src="https://www.washingtonpost.com/rf/image_982w/2010-2019/WashingtonPost/2011/10/10/Food/Images/food011_1318282380.jpg" style="padding: 20px" width="700px" height="400px" >
    </mat-grid-tile> -->
    <!-- <mat-grid-tile 
    [colspan] = "2"
    [rowspan] = "1">We are the Angle's Bakery located at 1000 N. 4th St., Fairfield, IA, 52557, 
    we serve large varieties of bakery such as doghnuts, pies, muffins etc. 
    Experience the best of baking with us. Our pies are baked, especially for you. 
    All our products have mouthwatering taste, and we offer exceptional service.
    you will enjoy a great taste in every bite.
    We bake our pies right and we are positive that you will fall in love with them. 
    We are happy an all we do and are pleased to contibute something to our society.
    Please let us know what you think by going to the contact us section above.
    </mat-grid-tile> -->
    <!-- <mat-grid-tile style="padding: 20px"
    [colspan] = "1"
    [rowspan] = "1"><h3>We are the Angle's Bakery located at 1000 N. 4th St., Fairfield, IA, 52557, 
        we serve large varieties of bakery such as doghnuts, pies, muffins etc. 
        Experience the best of baking with us. Our pies are baked, especially for you. 
        All our products have mouthwatering taste, and we offer exceptional service.
        you will enjoy a great taste in every bite.
        We bake our pies right and we are positive that you will fall in love with them. 
        We are happy an all we do and are pleased to contibute something to our society.
        Please let us know what you think by going to the contact us section above.</h3>
    </mat-grid-tile>
 </mat-grid-list> -->

 <style>
    .cardInner {
      display: grid;
      grid-template-areas: "header header" "side content" "footer footer";
      grid-template-rows: auto auto auto;
      grid-row-gap: 16px;
      grid-column-gap: 16px;
    }
  </style>
  <div class="cardInner" [ngStyle]="{'background-image': getUrl()}"style="padding: 90px" width="700px" height="300px" >
    <div [style.grid-area]="'header'">
        <header style="padding: 80px"><h3 style="font-size: 80px; color: rgb(192, 120, 25); font-style:oblique;">Welcome To Angels' Pie Donation Page</h3></header>
    </div>
    <div [style.grid-area]="'side'">
        <img src="https://www.washingtonpost.com/rf/image_982w/2010-2019/WashingtonPost/2011/10/10/Food/Images/food011_1318282380.jpg" style="padding: 10px" width="800px" height="400px" >
    </div>
    <div [style.grid-area]="'content'" >
        <h3 style="padding: 10px" style="font-style: italic; font-size: 30px; line-height: 1.5; color: rgb(211, 43, 127);">We are the Angles' Bakery located at 1000 N. 4th St., Fairfield, IA, 52557, 
            we serve large varieties of bakery such as doghnuts, pies, muffins and much more. 
            Experience the best of baking with us. Our pies are baked, especially for you. 
            All our products have mouthwatering taste, and we offer exceptional service.
            you will enjoy a great taste in every bite.
            We bake our pies right and we are positive that you will fall in love with them. 
            We are happy an all we do and are pleased to contibute something to our society.</h3>
        
    </div>
    <div [style.grid-area]="'footer'"><h3 style="padding: 20px; font-style: italic; font-size: 30px; line-height: 1.5; color: rgb(211, 43, 127);">
        Please let us know what you think by going to the contact us section above with some information, That will help us alot!
    </h3>
     </div>
  </div>


