
<div>
    <div class="cardInner" [ngStyle]="{'background-image': getUrl()}"style="padding: 100px" width="800px" height="600px">
        <mat-grid-list cols="2" rowHeight="2:1" fxLayout="row">
            <mat-grid-tile  *ngFor="let pie of pieList">
                <img src="{{pie.img}}" height="300px" width="300px" >
                <a mat-button color="accent" style="font-size: 25px; font-style: italic"[routerLink]="[pie._id]" [state]="{data: pie}" (change)="pie()">{{pie.pie_name}}</a>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
  </div>
 





  


  