<!-- <mat-card>
    <mat-card-title>List Of Items To Be Donated</mat-card-title>
</mat-card> -->

  <!-- <div>
    <a mat-button [routerLink]="['/sign-up']"> SignUp </a>
  </div> -->
  <!-- <mat-tab-group backgroundColor= "accent" style="padding: 5px" >
    <mat-tab> Welcome to our page, Here are pies that we baked to donate!</mat-tab>
     <mat-tab label="Home"><app-home></app-home> </mat-tab>
    <mat-tab label="Contact Us"><app-contact-us></app-contact-us></mat-tab>
    <mat-tab label="Admin Login"><app-login></app-login> </mat-tab>
    <mat-icon>email</mat-icon> -->
  <!-- </mat-tab-group> -->
  <!-- <h1  >
  <div class='md-padding' layout="row" layout-wrap fxLayout="row">
    <mat-card *ngFor="let pie of pieList" style="width: 350px;" ng-repeat="pie in pieList"  fxLayout="row"  fxLayoutGap="12px"  [style.margin-top]="'12px'" >
      <img src="{{pie.img}}" height="150px" width="300px" class="md-card-image" alt="user avatar">
      <a mat-button color="accent" [routerLink]="['pielist',pie._id]" [state]="{data: pie}">{{pie.pie_name}}</a>
      <mat-card-content>
          <mat-card-subtitle>
              
    </mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div> 
</h1> -->

<!-- <h1 *ngFor="let pie of pieList" > -->
    <!-- <div class='md-padding' layout="row" fxLayout="row"> -->

<!-- <div class="cardInner" [ngStyle]="{'background-image': getUrl()}"style="padding: 100px" width="800px" height="600px">
<mat-grid-list cols="2" rowHeight="2:1" fxLayout="row">
    <mat-grid-tile  *ngFor="let pie of pieList">
        <img src="{{pie.img}}" height="300px" width="300px" >
        <a mat-button color="accent" style="font-size: 25px;"[routerLink]="['pie._id']" [state]="{data: pie}">{{pie.pie_name}}</a>
    </mat-grid-tile>
  </mat-grid-list>
</div> -->





<div>
    <div class="cardInner" [ngStyle]="{'background-image': getUrl()}"style="padding: 100px" width="800px" height="600px">
        <mat-grid-list cols="2" rowHeight="2:1" fxLayout="row">
            <mat-grid-tile  *ngFor="let pie of pieList">
                <img src="{{pie.img}}" height="300px" width="300px" >
                <a mat-button color="accent" style="font-size: 25px; font-style: italic"[routerLink]="[pie._id]" [state]="{data: pie}" (change)="pie()">{{pie.pie_name}}</a>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
  </div>
  <!-- <ng-template #elseBlock>
      
    Content to render when condition is false.
  </ng-template> -->






  <!-- <mat-grid-list cols="2" rowHeight="3:1">
      
    <mat-grid-tile *ngFor="let card of pieList">
      <mat-card class="my-card">
        <mat-card-title>{{card.pie_name}}</mat-card-title>
        <mat-card-content>
           {{card.pie_name}}
        </mat-card-content>
      </mat-card> 
    </mat-grid-tile>
  </mat-grid-list>  -->




  