 <div class='md-padding' layout="row" layout-wrap [ngStyle]="{'background-image': getUrl()}"style="padding: 100px" width="40px" height="40px">
    <div class="md-actions" layout="row" layout-align="end right">
        <a mat-button style="font-size: 30px; padding: 15px; color: rgb(211, 114, 114); font-style: italic;" [routerLink]="['']">Go Back To List</a>
    </div>
      <mat-card  ng-repeat="pie in pieList" style="width: 800px;" style="padding-left: 250px;"> 
        <mat-card-content >
            <mat-card-subtitle >
          <h3 style="font-size: 50px; padding: 30px; color: rgb(211, 114, 114); font-style: italic;" >{{pieData.data.pie_name}}</h3>
          <img src="{{pieData.data.img}}" height="300px" width="400px" style="text-align: center;">
          <h3 style="font-size: 30px; font-style: italic; line-height: 1.5;"  >Ingredients:  {{pieData.data.ingredients  }}</h3> ,
          <h3 style="font-size: 30px; font-style: italic; line-height: 1.5;" >Pie Weight - {{pieData.data.weight}}</h3>
          <h3 style="font-size: 30px; font-style: italic; line-height: 1.5;" >Pie Width - {{pieData.data.width}}</h3>
          <h3 style="font-size: 30px; font-style: italic; line-height: 1.5;">Date Pie Was Posted For Donation - {{pieData.data.date_posted}}</h3>
          <h3 style="font-size: 30px; font-style: italic; line-height: 1.5;" >Pie Good Until - {{pieData.data.good_unitl}}</h3>
      </mat-card-subtitle><br>
        </mat-card-content>
    </mat-card>
    <div class="md-actions" layout="row">
        <a mat-button style="font-size: 30px; padding: 15px; color: rgb(211, 114, 114); font-style: italic;" [routerLink]="['shipping_details']" [state]="{toBeOrdered: pieData.data}">Yummy Right? Click here to request a free shippment</a>
    </div>
    </div>

